.main-page {
    background-attachment: fixed;
    background-image: url('../../Assets/leaves.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.main-page::-webkit-scrollbar {
    display: none;
}

.title {
    text-align: center;
}