.main-page {
    height: 100vh;
    overflow-x: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.main-page::-webkit-scrollbar {
    display: none;
}