.front-page {
    display: flex;
    height: 90vh;
    overflow-y: scroll;
}

.side-bar {
    width: 20%;
}

.stories {
    width: 100vw;
}

.story-box {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}