.front-page {
    display: flex;
    height: 85vh;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.front-page::-webkit-scrollbar {
    display: none;
}

.side-bar {
    width: 20%;
}

.stories {
    width: 80%;
}

.story-box {
    display: flex;
    flex-wrap: wrap;
}