.front-page {
    display: flex;
    height: 85vh;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.front-page::-webkit-scrollbar {
    display: none;
}

.side-bar {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    width: 20%;
}

.section-label {
    font-size: 16px;
}

.section-dropdown {
    width: 90%;
}

.stories {
    width: 80%;
}

.story-box {
    display: flex;
    flex-wrap: wrap;
}