.detail-view {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.detail-thumbnail {
    max-height: 100%;
    object-fit: fill;
}

.byline,
.section-container,
.date-container {
    display: flex;
    font-size: 14px;
    font-style: italic;
    justify-content: space-evenly;
    text-align: center;
    width: 45%;
}

.abstract {
    text-align: center;
    width: 65%;
}

.return-home {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}