.story-card {
    border: .25rem solid black;
    border-radius: 2.5%;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: .5rem;
    padding: 5px;
    text-align: center;
    width: 100px;
}

.story-card:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.card-img {
    max-height: 100%;
    object-fit: fill;
}

.card-title {
    font-size: .8rem;
    font-weight: bold;
}